body {
  background-color: white;
  font: bold 28px Helvetica; }

a {
  text-decoration: none;
  color: #cfcfcf; }

#timeline .entry {
  height: 100px;
  width: 0%;
  overflow: hidden; }
  #timeline .entry .current_time {
    width: 10000px; }
